Hello
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="home.html">
        <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li *ngFor="let pc of pcat">
            <a routerLink="category/{{ pc.id }}">{{ pc.name }}</a>
          </li>
          <li>
            <a routerLink="home">Home</a>
          </li>
          <li>
            <a href="https://binarylogicit.com/">BinaryLogicIt</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
