<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/context
    					http://www.springframework.org/schema/context/spring-context.xsd
    					http://www.springframework.org/schema/aop
    					http://www.springframework.org/schema/aop/spring-aop.xsd">
	  
  	<aop:aspectj-autoproxy/>
	<bean id="emp" class="com.example.pojos.Employee">
		<property name="name" value="Binart Logic IT"/>
	</bean> 
	
	<bean id="emps" class="com.example.service.EmployeeService">
		<property name="emp" ref="emp"/>
	</bean> 
	
	<bean name="employeeAspect" class="com.example.aspect.EmployeeAspect"></bean>
	<!--  
	<bean name="employeeAspectPointCut" class="com.example.aspect.EmployeeAspectPointCut"></bean>
	<bean name="employeeAspectJoinPoint" class="com.example.aspect.EmployeeAspectJoinPoint"></bean>
	<bean name="employeeAfterAspect" class="com.example.aspect.EmployeeAfterAspect"></bean>
	<bean name="employeeAroundAspect" class="com.example.aspect.EmployeeAroundAspect"></bean>
	-->
</beans>