<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="home.html">
        <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li>
            <a routerLink="category/1">Books</a>
          </li>
          <li>
            <a routerLink="category/2">Coffee Mugs</a>
          </li>
          <li>
            <a routerLink="category/3">Mouse Pads</a>
          </li>
          <li>
            <a routerLink="category/4">Luggage Tags</a>
          </li>
          <li>
            <a routerLink=""> Home </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
